<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yatra One">
    
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>

    {% include "header.html" %}
    
    {% block content %}
    
           
    {% endblock %}   
    
    {% include "footer.html" %}

</body>
</html>
